html {
  --background: #0c0c0c;
}

body {
  background-color: var(--background);
  color: white;
}

svg {
  width: 3rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0.5rem;
}

.nav-link {
  margin: 0 0.25rem;
  color: white;
}

.nav-link:hover {
  color: red !important;
}

.active {
  border: 1px solid red;
  padding: 7px !important;
  border-radius: 0.5rem;
  color: red !important;
}

.resume {
  color: white !important;
}

h6 {
  margin: 0;
}

footer .hstack {
  justify-content: space-between;
  align-items: flex-end;
}

footer .vstack {
  max-width: fit-content;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .width-100 {
    width: 100%;
  }

  .form {
    width: 100%;
  }

  svg {
    width: 2rem;
  }
}
