html {
  /* --background: #0c0c0c; */
  --background: #1c1d25;
  --nav: #3c3d49;
  --nav: #1c1d25;
  --text: #b0b2c3;
  --accent: #3498db;
  font-family: 'Roboto', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--text) !important;
}

body {
  background-color: var(--background);
}

svg {
  width: 3rem;
}

.page {
  min-height: 72vh;
  /* height: fit-content; */
  /* height: max(75vh, fit-content); */
}

span {
  color: var(--accent) !important;
}

.profile {
  position: relative;
  top: -1.5rem;
  left: -1.5rem;
  width: clamp(200px, 200px + 12vw, 350px);
}

.profile-container {
  position: relative;
  top: 0.75rem;
  left: 0.75rem;
  margin: 3rem;
  outline: 5px solid var(--accent);
  border-radius: 1rem;
  height: fit-content;
}

nav {
  border-bottom: 1px solid var(--accent);
}

.nav-link {
  margin: 0 0.25rem;
}

.nav-link:hover {
  color: var(--accent) !important;
}

.active {
  border: 1px solid var(--accent);
  padding: 7px !important;
  border-radius: 0.5rem;
  color: var(--accent) !important;
}

.resume {
  color: var(--text) !important;
}

h6 {
  margin: 0;
}

footer {
  margin: 0.5rem 0;
}

footer .hstack {
  justify-content: space-between;
  align-items: flex-end;
}

footer .vstack {
  max-width: fit-content;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .form {
    width: 100%;
  }

  svg {
    width: 2rem;
  }
}
